@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Langar font globally */
body {
  font-family: 'Langar', sans-serif;
}

body {
  font-size: 20px;
}

.dotted-background {
  background-color: #D4A2BE;
  opacity: 0.8;
  background-image: radial-gradient(#ad45f7 0.5px, #D4A2BE 1px);
  background-size: 10px 10px;
}